@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Arimo|Quicksand:400,700&display=swap');
*{box-sizing: border-box}
body {color: #123064;font-family: 'Quicksand', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Quicksand', sans-serif; font-weight: 800; }
p {font-family: 'Arimo', sans-serif; font-size: 14px; color: #777;}
.text-primary{color: #77B748!important}
/* .btn-primary-border{background-color: #77B748!important;border-radius: 20px;color: #fff;padding: 8px} */
/* .btn-primary{background-color: #77B748!important} */
a.text-primary:hover{color: #48871B}
/* .btn-primary:hover{background-color:#48871B!important}
.btn-primary-border:hover{background-color:#48871B!important;color: #fff} */
.btn-primary{color:#fff}
.bg-primary{background-color: #77B748 !important}
.text1{color: #273051}
.text2{color: #4F4F4F}
.text3{color: #828282}
.img-100{width: 100%; height: 90%}
.word-list{cursor: pointer;}
.hidden {display: none;}
#subMenu span{font-size: 16px;color: #fff;}
#content-wrapper .nav-link:hover{background-color: #fff!important;}
#wrapper{ background-size: cover;
  height: 100vh;
  background-attachment: fixed;}
  #trangchu .link-title{color: black}
  #trangchu{margin-top: 20px;width: 100%; position: relative;overflow: auto;}
  #trangchu .progress-bar{
    background-color: #77B748!important;
  }
  #trangchu a{color: #fff;}
  #trangchu a:hover{color: #fff;text-decoration: none;}
  #trangchu .card-hoc{background-color: #fff;width: 90%;height: 110px;border-radius: 10px;box-shadow: 5px 5px 5px #d0e2f7;}
  #trangchu .card-hoc a{font-weight: bold;font-size: 18px;}
  #trangchu .card-hoc .img-hoc{width: 60px;height: 60px;border-radius: 50%;position: relative; top: 50%;
    transform: translateY(-50%);}
  #trangchu .card-hoc .do-btn{position: relative; transform: translateY(50%);}
  .giadauvang{border: 3px solid #ccc; border-radius: 10px;height: 450px}
.gachchan{border-bottom:2px solid #ccc; margin-top: 30px}
.img-xephang{padding-left:30%}
.nd-xephang .nd{font-size:24px; text-align:center}

.banbe{border: 3px solid #ccc; border-radius: 10px;height: 300px; margin-top: 40px;}
.banbe .row{border-bottom:2px solid #ccc;margin:20px 0}
.btn-banbe ,.btn1, .btn2, .btn3{
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 10px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.banbe .btn-banbe .btn1{width: 300px;border:2px solid #ccc;margin-bottom: 20px;}
.banbe .btn-banbe .btn2{width: 145px;border:2px solid #ccc;margin-right: 10px;}
.banbe .btn-banbe .btn3{width: 145px;border:2px solid #ccc;}
/* footer {position: fixed;} */
footer .kechan{border-top: 3px solid #ccc;}
footer a{color: #828282}
footer a:hover{color: #77B748;text-decoration: none;}
footer h6{font-size: 15px;}
footer h5{color: #ccc;}
.icon-facebook{background-color: #ccc;width: 30px;height: 30px;border-radius: 50%;padding-top: 8px;margin-right: 10px;}
.icon-facebook:hover{background-color: #007bff;color:#fff}
.icon-twitter{background-color: #ccc;width: 30px;height: 30px;border-radius: 50%;padding-top: 8px;color:#007bff;margin-right: 10px;}
.icon-twitter:hover{background-color: #065fbe;color:#fff}
.icon-google{background-color: #ccc;width: 30px;height: 30px;border-radius: 50%;padding-top: 8px;color:#e8262d;}
.icon-google:hover{background-color: #e8262d;color:#fff}
.img-download {width: 40%;margin-top: 8px;}
#trangchu .link-title:hover{color: black;}
/* -----------------------------------THẢO LUẬN------------------------------- */
/* --------------------------------------------------------------------------- */
#thaoluan h2{font-weight: bold}
#thaoluan .btn{outline: none;box-shadow: 3px 3px 3px #77B748;border: none;padding: 10px;border-radius: 20px;font-weight: bold;}
#thaoluan .img-thaoluan{width: 90px;width:90px;border-radius: 50%;}
#thaoluan a:hover{text-decoration: none;color: #77B748;}
#thaoluan .tab-content .row{border-bottom: 2px solid #ccc; margin-top: 10px;}
#thaoluan .form-control{border-radius: 15px;font-size: 16px;height: 60px;}

#thaoluan .theodoi{border:1px solid #ccc;height: 300px;padding: 10px;border-radius: 10px;overflow-y: scroll;overflow-x: hidden;}
#thaoluan .nd-theodoi{border-radius: 10px;;font-size: 20px;padding: 15px;}
#thaoluan .nd-theodoi:hover{background-color: #ccc}
/* -----------------------------CHI TIẾT THẢO LUẬN---------------------------- */
/* --------------------------------------------------------------------------- */
#chitietthaoluan p{font-size: 16px;}
/* #chitietthaoluan .btn{outline: none;box-shadow: 3px 3px 3px #77B748;border: none;padding: 20px;border-radius: 20px;font-weight: bold;color: #77B748;font-size: 20px;} */
#chitietthaoluan .kechan{border-bottom: 3px solid #ccc;}
#chitietthaoluan .modal .btn{padding: 8px;}
/* #chitietthaoluan a{font-size: 20px;font-weight: bold;text-decoration: none;color: #77B748;} */
#chitietthaoluan .diendan a{font-size: 20px;font-weight: bold;text-decoration: none;color: #77B748;}
#chitietthaoluan .diendan i{font-size: 20px;font-weight: bold;}
#chitietthaoluan .img-chitietthaoluan{border-radius: 50%;width: 70px;}
#chitietthaoluan .nd-img{padding: 0;}
#chitietthaoluan .chude-binhluan .baocao{float:  right}
#chitietthaoluan .chude-binhluan .baocao .rate .checked{margin-right: 4px;color: red;}
#chitietthaoluan .chude-binhluan .baocao a{font-size: 20px; font-weight: bold; color: #828282; cursor: pointer;}
#chitietthaoluan .chude-binhluan .baocao a:hover{text-decoration: none;color: #77B748;}
#chitietthaoluan .chude-binhluan .chucnang .btn{outline: none;box-shadow: 3px 3px 3px #77B748;border: none;padding: 10px 15px;border-radius: 10px;font-weight: bold;color: #fff;font-size: 20px; margin-top: 20px;}
#chitietthaoluan textarea{border: 3px solid #ccc;font-size: 16px;padding: 10px;border-radius: 10px;outline: none;}
#chitietthaoluan .binhluan .btn{outline: none;box-shadow: 3px 3px 3px #77B748;border: none;padding: 10px;border-radius: 10px;font-weight: bold;color: #fff;font-size: 20px;}
#chitietthaoluan .sub-sapxep .dropdown-item{padding: 10px;border-bottom: 2px dotted #ccc;font-weight: bold}
#chitietthaoluan .sub-sapxep .dropdown-item:active{background-color: #77B748;color: #fff;}
#chitietthaoluan .nav-item a{color: #828282;font-weight: bold;font-size: 20px}
#chitietthaoluan li{list-style: none;}
#chitietthaoluan .sapxep{padding-left: 150px;margin:0;}
#chitietthaoluan .phanhoi-binhluan .baocao{margin-left:100px}
#chitietthaoluan .phanhoi-binhluan .reply-binhluan{ margin-top: 30px;}
#chitietthaoluan .phanhoi-binhluan a{font-size:20px;font-weight: bold;text-decoration: none;color: #828282;cursor: pointer;}
#chitietthaoluan .phanhoi-binhluan a:hover{color: #77B748;}
#chitietthaoluan .phanhoi-binhluan .kechan{border-bottom: 2px solid #ccc;margin:20px 0;}

/* -----------------------------------TỪ ĐIỂN------------------------------- */
/* -------------------------------------------------------------------------- */
#tudien{margin-top: 200px; margin-bottom: 200px;}
#tudien p{font-size: 20px;}

form .inner-form {background: #fff;display: flex;width: 100%;align-items: center;box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);border-radius: 3px;}
form .inner-form .input-field.first-wrap {width: 80px;margin-left: 10px;}
form .inner-form .input-field {height: 80px;padding-top: 8px}
form .inner-form .input-field input {height:100%;display: block;width: 460px;padding: 10px 32px;font-size: 20px;color: #555;margin-right: 20px;border: 0;outline: none;}
form .inner-form .input-field.third-wrap .btn {padding:15px 12px;font-size: 20px;font-weight: bold; border-radius: 10px;box-shadow: 3px 3px 3px #77B748;border: 0;}
form ul .suggest{list-style-type: none;}
/* -----------------------------------TỪ VỰNG------------------------------- */
/* -------------------------------------------------------------------------- */
#tuvung table{font-size: 16px;}
#tuvung table a{color: #828282;}
#tuvung table a:hover{text-decoration: none;}


/* ------------------------------HỌC QUA HÌNH ẢNH--------------------------- */
/* ------------------------------------------------------------------------- */
#hoc-hinhanh .card-hoc{width: 200px;height: 250px;border: 2px solid #ccc;border-radius: 10px;}
#hoc-hinhanh .card-hoc:active{background-color: #77B748;}
#hoc-hinhanh .card-hoc .img-hoc{padding-left: 37px;padding-top: 40px;}
#hoc-hinhanh .kechan{border-bottom: 2px solid #ccc; padding-bottom: 60px;}
#hoc-hinhanh .btn{border-radius: 10px;box-shadow: 3px 3px 3px #77B748;border: 0;font-weight: bold;font-size: 18px;padding: 5px 15px;}

/* ---------------------------------HỌC 2------------------------------------ */
/* -------------------------------------------------------------------------- */
#hoc2 .dapan{border: 1px solid #ccc; width: 300px; height: 50px;margin-bottom: 20px;}
#hoc2 .khungKq{height: 120px;border-top: 2px solid #ccc;border-bottom: 2px solid #ccc;}
#hoc2 .dapan:active{background-color: #77B748;}
#hoc2 .dapan:hover{background-color: #77B748;}
#hoc2 .dapan p:active{color: #fff;}
#hoc2 .dapan p:hover{color: #fff;}
#hoc2 .dapan p{font-size: 16px;padding: 10px;}
#hoc2 .btn{margin-top: 30px;border-radius: 10px;box-shadow: 3px 3px 3px #77B748;border: 0;font-weight: bold;font-size: 18px;padding: 5px 15px;}
#hoc2 .active{background-color: #77B748;}
#hoc2 .active p{color: #fff;}
#hoc2 img{width: 150px;height: 150px;}
.thongbao-ketqua{background-color: #a6d684be;color: #48871B;width: 100%;height: 150px;border-radius: 20px;padding-top: 30px;}
.thongbao-ketquasai{background-color: #eb8080bd;width: 100%;height: 150px;padding-top: 30px;border-radius: 20px;}
.thongbao-ketquasai .btn{box-shadow: 3px 3px 3px #f04141!important;background-color: #f04141;}
.thongbao-ketquasai .btn:active{background-color: #d61f1f!important;}
.thongbao-ketquasai p{font-size: 16px;color: #4f4f4f;}
/* ---------------------------------Cài đặt---------------------------------- */
/* -------------------------------------------------------------------------- */
#caidat .btn{border: none;border-radius: 10px;font-size: 18px;font-weight: bold;padding: 10px;}
#caidat form .nd{margin-left: 20px;margin-top: 50px;}
#caidat span{font-size: 16px;font-weight: bold;}
#caidat input{width: 460px;height: 50px;font-size: 16px;border-radius: 10px;border: 2px solid #ccc;outline: none;padding: 0 8px;}
#caidat .caidat-taikhoan{height: 320px;border: 2px solid #ccc;border-radius: 20px;}
#caidat .caidat-taikhoan a{color: #828282; font-weight:bold;}
#caidat .caidat-taikhoan a:hover{color: #4f4f4f;text-decoration: none;}
.chucnang .bg-active{background-color: #ccc;}
.chucnang .text-active{color: #4f4f4f!important}
.chucnang .nd-chucnang{height: 60px;border-radius: 10px;;font-size: 20px;padding: 15px;margin: 5px 20px;width: 300px;}
.chucnang .nd-chucnang:hover{background-color: #ccc;width: 300px; cursor: pointer;}
#caidat .caidat-matkhau{height: 250px;border: 2px solid #ccc;border-radius: 20px;}
#caidat .caidat-matkhau a{color: #828282; font-weight:bold;}
#caidat .caidat-matkhau a:hover{color: #4f4f4f;text-decoration: none;}
#caidat .caidat-matkhau .img-info{width: 30px;height: 30px;border-radius: 50%;margin-top: 40px;margin-left: -30px;border: 0px;overflow: hidden;background-color: #ccc;}
#caidat .caidat-matkhau .fa-camera::before{padding-right: 10px;}
/* -------------------------------Landing Page--------------------------------- */
/* ---------------------------------------------------------------------------- */
#duolingo{background:url(./../image/bg.jpg);background-size: cover;height: 100vh}
#duolingo ul .ring-1 {position: absolute;top:90px;left:110px;width: 400px;height: 400px;border: 1px solid rgba(33, 150, 243, 0.5);border-radius: 50%;animation: rotate360 210s linear infinite}
#duolingo ul.ring-2 {position: absolute;top:145px;left: 155px;width: 300px;height: 300px;border: 1px solid rgba(33, 150, 243, 0.5);border-radius: 50%; animation: rotate360 180s linear infinite;z-index: 1;}
#duolingo ul.ring-3 {position: absolute;top:200px;left: 210px;width: 200px;height: 200px;border: 1px solid rgba(33, 150, 243, 0.5);border-radius: 50%;}
#duolingo .orbit-center {position: relative;top: 230px;left: 220px;z-index: 5;font-size: 30px;width: 160px;height: 90px;text-align: center;border-radius: 50%;}
#duolingo .orbit-icon1 {position: absolute;width: 100px;top: 10px;height: 70px;border-radius: 50%;z-index: 99;}
#duolingo .orbit-icon2 {position: absolute;width: 100px;top: 150px;left:-30px;height: 70px;border-radius: 50%;z-index: 99;}
#duolingo .orbit-icon3 {position: absolute;width: 120px;top: 300px;left:260px;height: 70px;border-radius: 50%;z-index: 99;}
#duolingo .orbit-icon4 {position: absolute;width: 100px;top: -10px;left:190px;height: 70px;border-radius: 50%;z-index: 99;}
#duolingo li {list-style: none;}
#duolingo .nd{top: 130px;right: 100px;}
#duolingo .btn{box-shadow: 1px 3px 1px #007bff;outline: none;border: 0;width: 370px;height: 50px;font-size: 24px;font-weight: bold;border-radius: 30px;}

#nd-duolingo .cachhoc p{font-size: 16px;}
#nd-duolingo .kechan{border-bottom: 2px solid #ccc;}

#footer-duolingo{background:url(./../image/bg.jpg);background-size: cover;height: 50vh}
#footer-duolingo .btn{box-shadow: 1px 3px 1px #48871B;outline: none;border: 0;width: 200px;height: 50px;font-size: 24px;font-weight: bold;border-radius: 30px;}

#conference-timeline {position: relative;width: 100%;margin: 0 auto; }
#conference-timeline .timeline-start,#conference-timeline .timeline-end {display: table;font-size: 18px;font-weight: 900;text-transform: uppercase;background: #77B748;padding: 15px 23px;color: #fff;max-width: 15%;width: 100%;text-align: center;margin: 0 auto;}
#conference-timeline .conference-center-line {position: absolute; width: 3px;height: 100%;top: 0;left: 50%;margin-left: -2px;background: #77B748;z-index: -1;}
#conference-timeline .conference-timeline-content {padding-top: 67px;padding-bottom: 67px;}
.timeline-article {width: 100%;height: 100%;position: relative;overflow: hidden;margin: 20px 0;}
.timeline-article .content-left-container,
.timeline-article .content-right-container {max-width: 44%;width: 100%;}
.timeline-article .content-left,
.timeline-article .content-right {position: relative;width: auto;border: 1px solid #77B748;background-color: #fff;box-shadow: 0 1px 3px rgba(0,0,0,.03);padding: 27px 25px;}
.timeline-article p {margin: 0 0 0 60px;padding: 0; font-weight: 400;color: #242424;font-size: 14px;line-height: 24px;position: relative;}
.timeline-article p span.article-number {position: absolute;font-weight: 300;font-size: 44px;top: 10px;left: -60px;color: #77B748;}
.timeline-article .content-left-container {float: left;}
.timeline-article .content-right-container {float: right;}
.timeline-article .content-left:before,
.timeline-article .content-right:before{position: absolute;top: 20px;font-size: 23px;font-family: "FontAwesome";color: #fff;}
.timeline-article .meta-date {position: absolute;top: 0;left: 50%;width: 62px;height: 62px;margin-left: -31px;color: #fff;border-radius: 100%;background: #77B748;}

      @media only screen and (max-width: 768px) {
        #conference-timeline .timeline-start,
        #conference-timeline .timeline-end {
          margin: 0;
        }
        #conference-timeline .conference-center-line {
          margin-left: 0;
          left: 50px;
        }
        .timeline-article .meta-date {
          margin-left: 0;
          left: 20px;
        }
        .timeline-article .content-left-container,
        .timeline-article .content-right-container {
          max-width: 100%;
          width: auto;
          float: none;
          margin-left: 110px;
          min-height: 53px;
        }
        .timeline-article .content-left-container {
          margin-bottom: 20px;
        }
        .timeline-article .content-left,
        .timeline-article .content-right {
          padding: 10px 25px;
          min-height: 65px;
        }
      }
      @media only screen and (max-width: 480px) {
        .timeline-article p {
          margin: 0;
        }
        .timeline-article p span.article-number {
          display: none;
        }
        
      }

/* ---------------------Nạp tiền---------------------- */
/* --------------------------------------------------- */
#thanhtoan .col-8{display: inherit;}
#thanhtoan input{height:100%;display: block;width: 300px;padding: 10px;font-size: 16px;color: #555;margin-right: 10px;outline: none;border: 2px solid #ccc; border-radius: 5px;}
#thanhtoan input:focus{border: 2px solid #ccc!important;}
#thanhtoan .btn{padding: 10px;outline: none!important;border: none;}
#thanhtoan .dropdown-item{width: 190px;padding: 10px;}
#thanhtoan .nd{height: 300px;border: 1px solid #77B748;}

/* ---------------------------------FLASH CARD------------------------------ */
/* ------------------------------------------------------------------------- */
#flashcard .bg-flashcard{
  background-image: linear-gradient(45deg, rgba(38, 79, 121, 0.7) 55%, rgba(30,66,88,0.7)), url("/image/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  /* view height */
  background-attachment: fixed;
}
#flashcard .bg-flashcard{ height: 500px;position: relative}
#flashcard .bg-flashcard .fa-caret-up{position: absolute;font-size: 80px;color: #fff;left: 47%;}
#flashcard .bg-flashcard .fa-caret-down{position: absolute; top: 430px;font-size: 80px;color: #fff;left: 47%;}
#flashcard .flip-container {perspective: 1000;float: left;cursor:pointer;position: absolute;top: 150px;left: 170px;}
#flashcard .flippable {transition: 0.5s;transform-style: preserve-3d;position: relative;}
#flashcard .flipme {transform: rotateY(180deg);}
#flashcard .flip-container, .front, .back {width: 500px;height: 200px;text-align: center;font-size: 40px;border-radius: 5px;}
      
#flashcard .front, .back {backface-visibility: hidden;position: absolute;box-shadow: 8px 8px 8px rgba(5, 45, 70, 0.9)}
      
      
#flashcard .front { z-index: 2;color: white;}
#flashcard .front h2{margin-top: 40px;}
#flashcard .front p{font-size: 16px;}
#flashcard .back {transform: rotateY(180deg);background-color: #fff;}
#flashcard .back p{font-size: 20px;margin-top: 80px;}
      
#flashcard .flashcard .front{background:#fff;}

#flashcard ol{ height:500px;overflow-x:hidden; overflow-y:auto;background-color: #77B748;}
#flashcard li{font-weight: bold;}
#flashcard li:hover{background-color: #48871B}
#flashcard a{text-decoration: none;font-size: 16px; padding-left: 20px;font-weight: bold;}
#flashcard .img-flashcard{width: 100%;height: 200px;}

/* ---------------------------------Thêm bài viết----------------------------- */
/* --------------------------------------------------------------------------- */
#thembaiviet h2{font-weight: bold}
#thembaiviet .btn{color:#77B748;outline: none;box-shadow: 3px 3px 3px #77B748;border: none;padding: 10px 0;border-radius: 10px;font-weight: bold;width: 80px;}
#thembaiviet .btn:hover{background-color: #77B748;color: #fff;}
#thembaiviet .form-baiviet .tieude{width: 100%;height: 80px;border: 2px solid#ccc;border-radius: 5px;margin-top: 20px;outline: none;}
#thembaiviet .form-baiviet .noidung{width: 100%;height:300px;border: 2px solid#ccc;border-radius: 5px;margin-top: 20px;outline: none;}
#thembaiviet .img-thaoluan{width: 90px;width:90px;border-radius: 50%;}
#thembaiviet a{color:#495057; font-weight:bold}
#thembaiviet a:hover{text-decoration: none;color: #77B748;}
#thembaiviet .tab-content .row{border-bottom: 2px solid #ccc; margin-top: 10px;}
#thembaiviet .form-control{border-radius: 15px;font-size: 16px;height: 60px;}

#thembaiviet .theodoi{border:1px solid #ccc;height: 300px;padding: 10px;border-radius: 10px;overflow-y: scroll;overflow-x: hidden;}
#thembaiviet .nd-theodoi{border-radius: 10px;;font-size: 20px;padding: 15px;}
#thembaiviet .nd-theodoi:hover{background-color: #ccc}
#thembaiviet input:active{border: 2px solid #ccc!important;}
/* -------------------------------KẾT QUẢ TÌM KIẾM--------------------------- */
/* -------------------------------------------------------------------------- */
#ketquatracuu{margin-top: 40px; margin-bottom: 40px;}
#ketquatracuu form .inner-form {background: #fff;display: flex;width: 100%;align-items: center;box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);border-radius: 10px;}
#ketquatracuu form .inner-form .input-field.first-wrap {width: 80px;margin-left: 10px;}
#ketquatracuu form .inner-form .input-field {height: 80px;padding-top: 8px;margin-left: -15px;}
#ketquatracuu form .inner-form .input-field input {height:100%;display: block;width: 650px;padding: 10px 32px;font-size: 20px;color: #555;margin-right: 20px;border: 0;outline: none;}
#ketquatracuu form .inner-form .input-field.third-wrap .btn {padding: 15px;font-size: 20px;font-weight: bold; border-radius: 10px;box-shadow: 3px 3px 3px #77B748;left: 350px;margin-right: 10px;width: 150px;}
#ketquatracuu .kechan{border-bottom: 2px solid #ccc;margin-bottom:30px;padding: 20px 0;}
#ketquatracuu .gachchan{border-bottom: 2px solid #77B748;margin-bottom:30px;padding: 20px 0;border-bottom-style: dotted;width: 300px;}
  
.question-table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
.question-table td {
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
}

.dropdown-menu{
  width: 200px;
}
/* .dropdown-menu .dropdown-item{
  border-bottom: 1px solid #77B748 ;
  border-style: dotted;
  padding: 10px;
}
.dropdown-menu .dropdown-item:active{
  background-color: #77B748;
  color: #fff!important;
} */

/* -------------------------------KẾT QUẢ EXAM------------------------------- */
/* -------------------------------------------------------------------------- */
#ketquaexam .ketquacauhoi{
  margin-bottom: 20px;
}
#ketquaexam .ketquacauhoi .cauhoi{
  font-size: 18px;
  color:#212529;
  font-weight: 400;
}
#ketquaexam .ketquacauhoi .dapan li{
  font-size: 16px;
  color: #828282;
  cursor: pointer;
}
#ketquaexam .ketquacauhoi .ketqua .btn{
  border: 0px;
  margin-bottom: 10px;
}
#ketquaexam .ketquacauhoi .ketqua p{
  font-size: 16px!important;
  border: none;
}
#ketquaexam .ketquacauhoi .dapan{
  margin-top: 10px;
  margin-left: 10px;
  border-left: 3px solid #ccc;
}
/* -------------------------------QUYỀN TRUY CẬP----------------------------- */
/* -------------------------------------------------------------------------- */
#trangloitruycap{margin-top: 50px;margin-bottom: 100px;}

/* -------------------------------MODAL-------------------------------------- */
/* -------------------------------------------------------------------------- */

.modal-content {width: 700px!important;margin-left: -50px;}
.modal .card-input input{width: 100%;padding: 5px 10px;border: 2px solid #ccc;border-radius: 5px;}
.modal .card-input input:focus{border: 2px solid #ccc!important}
.modal .card-input select{width: 100%;padding: 5px 10px;border: 2px solid #ccc;border-radius: 5px;}
.modal .card-input textarea{width: 100%; height: 100px;border: 2px solid #ccc;border-radius: 5px;padding: 5px 10px;}
.modal .card-input textarea:focus{border: 2px solid #ccc!important}
.modal .card-input select:focus{border: 2px solid #ccc!important}
.modal {
  background-color: transparent;
} 
/* .modal .card-input{width: 760px;padding-left: 10px;}
.modal .card-input select{width: 250px;padding: 5px 10px;border: 2px solid #ccc;outline: none;border-radius: 5px;}
.modal .card-input input{width: 250px;padding: 5px 10px;border: 2px solid #ccc;outline: none;border-radius: 5px;}
.modal .card-button{margin-left: 300px;margin-top: 30px;}
.modal .card-button .btn{border: 0px;}
.modal {
  background: rgba(0, 0, 0, 0.6);
} */

/* .modal form{margin-left: 150px;}
.modal .card-input{width: 760px;padding-left: 10px;}
.modal .card-input select{float: right;width: 550px;padding: 5px 10px;border: 2px solid #ccc;outline: none;border-radius: 5px;}
.modal .card-input input{float: right;width: 550px;padding: 5px 10px;border: 2px solid #ccc;outline: none;border-radius: 5px;}
.modal .card-button{margin-left: 300px;margin-top: 30px;}
.modal .card-button .btn{border: 0px;}
.modal {
  background: rgba(0, 0, 0, 0.6);
}
.modal-container {
  position: absolute;
  width: 60%;
  background: #ffffff;
  left: 25%;
  top: 5%;
  padding: 20px;
  height: 580px;
  overflow-x: hidden;
}
.modal .card-input input:focus{border: 2px solid #ccc!important;}
.modal-tuvung{height: 300px;}
.modalInfor{height: 280px;border-radius: 10px;margin-top: 100px;
  background-image: linear-gradient(45deg, rgba(71, 132, 194, 0.8) 55%, rgba(103, 182, 231, 0.8));
  background-position: center;
} 
.modalInfor .title{border-bottom: 1px solid #ccc;margin-bottom: 20px;padding-bottom: 10px;color: #fff;}
.modalInfor .content{border-bottom: 1px solid #ccc; padding-bottom:10px; margin-bottom: 20px;color: #fff;}

.modalQuiz {height: 280px;
  position: relative;
  border-radius: 10px;
  background-image: linear-gradient(45deg, rgba(248, 170, 134, 0.8) 55%, rgba(250, 195, 75, 0.8));
  background-position: center;
  overflow: hidden;
  margin-top: 100px;
}
.modalQuiz lottie-player{position: absolute;
  width: 90%;
}
.modalQuiz .title{border-bottom: 1px solid #ccc;margin-bottom: 20px;padding-bottom: 10px;color: #fff; text-align: center;margin-top: 20px;}
.modalQuiz .content{border-bottom: 1px solid #ccc; padding-bottom:10px; margin-bottom: 20px;color: #fff;}

.modalDelete{height: 220px;border-radius: 10px;margin-top: 100px;
  background-image: linear-gradient(45deg, rgba(71, 132, 194, 0.8) 55%, rgba(103, 182, 231, 0.8));
  background-position: center;
} 
.modalDelete .title{border-bottom: 1px solid #ccc;margin-bottom: 20px;padding-bottom: 10px;color: #fff;}
.modalDelete .content{border-bottom: 1px solid #ccc; padding-bottom:10px; margin-bottom: 20px;color: #fff;}
.modalDelete button{color: #fff;margin-left: 5px;padding: 5px;}

.modalLock{height: 220px;border-radius: 10px;margin-top: 100px;
  background-image: linear-gradient(45deg, rgba(71, 132, 194, 0.8) 55%, rgba(103, 182, 231, 0.8));
  background-position: center;
} 
.modalLock .title{border-bottom: 1px solid #ccc;margin-bottom: 20px;padding-bottom: 10px;color: #fff;}
.modalLock .content{border-bottom: 1px solid #ccc; padding-bottom:10px; margin-bottom: 20px;color: #fff;}
.modalLock button{color: #fff;margin-left: 5px;padding: 5px;} */
/* -------------------------------QUẢN LÝ CÂU HỎI---------------------------
/* -------------------------------------------------------------------------- */
/* .dapAn{width: 200px;}
.cautraA{width: 120px;}
.cautraB{width: 120px;}
.cautraC{width: 120px;}
.cautraD{width: 120px;}
.odd .sorting_1{width: 200px!important;} */
/* -------------------------------QUẢN LÝ TÀI LIỆU---------------------------- */
/* -------------------------------------------------------------------------- */
.tieudeTL{width: 200px;}
.fileTL{width: 250px;}
/* -------------------------------QUẢN LÝ TỪ VỰNG---------------------------- */
/* -------------------------------------------------------------------------- */
.english{width: 80px;}
.vietnam{width: 80px;}
.loaitu{width: 60px;}
.hinhanh{width: 150px;}
/* ------------------------------QUẢN LÝ THÔNG BÁO--------------------------- */
/* -------------------------------------------------------------------------- */
.tieudeTB{width: 180px;}
.ngayTB{width: 180px;}
.lock{width: 70px;}
/* ------------------------------QUẢN LÝ NẠP TIỀN--------------------------- */
/* -------------------------------------------------------------------------- */
.taikhoan{width: 300px;}
.thoigian{width: 200px;}
.hinhthuc{width: 200px;}
/* ---------------------------QUẢN LÝ QUIZ - EXAM---------------------------- */
/* -------------------------------------------------------------------------- */
.tuvung{width: 180px;}
#dataTable .chucnang{width: 200px!important;}
.chucnang{width: 100px;}
.nav-tabs .nav-item{cursor: pointer;}

.form-group-account{
  background: url(../image/banner.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 400px;
  width: 100%;
  padding-left: 230px;
  padding-top: 30px; 
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}
/* ---------------------------LICH SỬ EXAM - TOPUP---------------------------- */
/* -------------------------------------------------------------------------- */
#lichsuexam{margin-top: 30px;}
#lichsuexam .table{border: 1px solid #ccc;box-shadow: 3px 3px 3px #ccc;border-top-left-radius: 20px;margin-top: 20px;}
#lichsuexam .table th{background-color: #068CE1;color: #fff;}
#lichsutopup .table{border: 1px solid #ccc;box-shadow: 3px 3px 3px #ccc;border-top-left-radius: 20px;}
#lichsutopup .table th{background-color: #068CE1;color: #fff;}

#danhsachthongbao .boxInfor{padding: 10px;box-shadow: 3px 3px 3px #a9cef5;border-radius: 10px;}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }
.toggle.ios .toggle-handle { border-radius: 20rem; }
#listquiz .boxInfor{padding: 10px;box-shadow: 3px 3px 3px #a9cef5;border-radius: 10px;border: 1px solid #ccc;}
/* ---------------------------RANKING EXAM---------------------------------- */
/* -------------------------------------------------------------------------- */
.panel .panel-heading{
  background: #00324a;
  padding: 20px 40px;
  border-radius: 0;
  margin: 0 0;
}
.panel .panel-heading .title{
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
}
#rankingExam .panel{box-shadow: 3px 2px 2px 1px #ccc;margin-top: 50px;;}
#rankingExam{border-radius: 10px;}
#rankingExam table span img{width: 40px;height: 40px;margin-right: 20px;}

/* ---------------------------RANKING WORD---------------------------------- */
/* -------------------------------------------------------------------------- */
#rankingWord .card.user-card {
  border-top: none;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
  transition: all 150ms linear;
}

#rankingWord .card {
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

#rankingWord .card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px;
}

#rankingWord .card .card-header h5 {
  margin-bottom: 0;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4;
}

#rankingWord .user-card .card-block {
  text-align: center;
}

#rankingWord .card .card-block {
  padding: 25px;
}

#rankingWord .user-card .card-block .user-image {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding: 5px;
  width: 110px;
  height: 110px;
}

#rankingWord .user-card .card-block .user-image img {
  z-index: 20;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
}

#rankingWord .img-radius {
  border-radius: 50%;
}
#rankingWord .title{font-weight: 600;margin-bottom: 10px;margin-top: 25px}
#rankingWord .card .card-block p {
  line-height: 1.4;
}

#rankingWord .text-muted {
  color: #919aa3!important;
}

#rankingWord .user-card .card-block .activity-leval li.active {
  background-color: #2ed8b6;
}

#rankingWord .user-card .card-block .activity-leval li {
  display: inline-block;
  width: 15%;
  height: 4px;
  margin: 0 3px;
  background-color: #ccc;
}

#rankingWord .user-card .card-block .counter-block {
  color: #fff;
}

#rankingWord .bg-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

#rankingWord .bg-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

#rankingWord .bg-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}
#rankingWord .user-card .card-block .user-social-link i {
  font-size: 30px;
}

#rankingWord .text-facebook {
  color: #3B5997;
}

#rankingWord .text-twitter {
  color: #42C0FB;
}

#rankingWord .text-dribbble {
  color: #EC4A89;
}

#rankingWord .user-card .card-block .user-image:before {
  bottom: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#rankingWord .user-card .card-block .user-image:after, .user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid #4099ff;
  position: absolute;
  left: 0;
  z-index: 10;
}

#rankingWord .user-card .card-block .user-image:after {
  top: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

/* ---------------------------BLOG------------------------------------------ */
/* -------------------------------------------------------------------------- */
/* 1. Background Image */
.started-bg {
  height: 300px;
  background: url(/image/banner.jpg);
  background-position: center;
  background-size: cover;
}

/* 4. Started */
.st-box {
	text-align: center;
}

.st-box .st-image {
  margin: 0 auto 15px auto;
  margin-top: -80px;
	width: 148px;
	height: 148px;
	overflow: hidden;
	position: relative;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}

.st-box .st-image img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.st-box .st-title {
	font-size: 42px;
	font-weight: 100;
	line-height: 44px;
	color: #363636;
}

.st-box .st-title strong {
	display: block;
	text-transform: uppercase;
	font-weight: 100;
}

.st-box .st-subtitle {
	margin: 15px 0 0 0;
	font-size: 16px;
	font-weight: 400;
	color: #363636;
	font-family: 'Roboto', helvetica;
}

.st-box .st-soc {
	margin: 25px 0;
}

.st-box .st-soc a {
	margin: 0 10px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	width: 40px;
	height: 40px;
	line-height: 46px;
	text-align: center;
	background: #6d9bd6;
	transition: all 0.2s ease 0s;
	border-radius: 52px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
.st-box .st-soc a .circle {
	display: block;
	width: 100%;
	height: 100%;
}
.st-box .st-soc .fa {
	font-size: 21px;
	color: #fefefe;
}
/* About */
#about .content-box {
	padding: 25px;
	position: relative;
	background: #fefefe;
	border-radius: 2px;
	box-shadow: 3px 2px 4px 3px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  margin-bottom: 20px;
}
#about .content-box  .info-list li{
  font-size: 16px;
  padding-top: 15px;
  color: #333;
}
#about .btn-primary{padding: 10px 20px;border: 0px;border-radius: 20px;margin-left: 350px;}
.pagination-lg .page-item:first-child .page-link{
  border-bottom-left-radius: 30px!important ;
  border-top-left-radius: 30px!important  ;
}
.pagination-lg .page-item:last-child .page-link{
  border-bottom-right-radius: 30px!important ;
  border-top-right-radius: 30px!important  ;
}
.rate-area {
  float:left;
  border-style: none;
}

.rate-area:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rate-area:not(:checked) > label {
  float: right;
  width: .80em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 36px;
  line-height: 32px;
  color: lightgrey;
  margin-bottom: 10px !important;
}

.rate-area:not(:checked) > label:before {
  content: '★';
}

.rate-area > input:checked ~ label {
  color: #e8262d;
  text-shadow: none;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
  color: #e8262d;
  
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
  color: #e8262d;
  text-shadow: none;
  
}

.rate-area > label:active {
  position:relative;
  top:0px;
  left:0px; 
}

.dropdown-exam{margin-left: 165px;color: #fff;margin-top: 30px;}
.dropdown-exam .dropdown-item:active{background-color: #007bff}
.dropdown-exam .dropdown-menu:active{color: #fff}
.dropdown-quiz {margin-left: 100px;color: #fff;margin-top: 30px;}
.dropdown-quiz  .dropdown-item:active{background-color: #007bff}
.dropdown-quiz  .dropdown-menu:active{color: #fff}