@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Arimo|Quicksand:400,700&display=swap');
*{box-sizing: border-box}
body {color: #123064;font-family: 'Quicksand', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Quicksand', sans-serif; font-weight: 800; }
p {font-family: 'Arimo', sans-serif; font-size: 14px; color: #777;}
.text-primary{color: #77B748!important}
.btn-primary-border{background-color: #77B748!important;border-radius: 20px;color: #fff;padding: 8px}
.btn-primary{background-color: #77B748!important}
a.text-primary:hover{color: #48871B}
.btn-primary:hover{background-color:#48871B!important}
.btn-primary-border:hover{background-color:#48871B!important;color: #fff}
.bg-primary{background-color: #77B748 !important}
.text1{color: #273051}
.text2{color: #4F4F4F}
.text3{color: #828282}
.img-100{width: 100%; height: 90%}
.word-list{cursor: pointer;}

#menu-chinh{border-bottom: 2px solid #ccc;}
#menu-chinh .logo{height: 80px;}
#menu-chinh .col-8 .a-hoc{width: 140px;}
#menu-chinh .col-8 a{width: 210px;}
#menu-chinh .navbar-nav{font-weight: bold;font-size: 20px}
#menu-chinh .sub1 .dropdown-item{width: 230px;padding: 10px;border-bottom: 2px dotted #ccc;font-weight: bold}
#menu-chinh .dropdown-menu{left: -50px}
#menu-chinh .sub2{width: 250px;left:-50px}
#menu-chinh .sub3{width: 350px;left: -150px}
#menu-chinh .sub3 .thongbao{border-bottom: 2px solid #ccc;height: 50px}
#menu-chinh .sub3 .taikhoan .dropdown-item{border-bottom: 2px solid #ccc;height: 50px; font-weight: bold;padding-left: 10px;padding-top:10px;color: #068CE1}
#menu-chinh .nav-link:active{color: #77B748;}
#menu-chinh .sub3 .taikhoan .dropdown-item:active{color: #fff;}
#menu-chinh .dropdown-menu a:active{background-color: #77B748;color: #fff;}

#trangchu .nen-xam{height: 140px;width: 140px;border-radius: 50%;position: relative;background-color: #ccc;}
#trangchu .vongtron-tim{background-color:#ad5ca0b4;height: 120px;width: 120px;border: 10px solid #fff; border-radius: 50%;position: absolute;top:7%;left: 7%;}
#trangchu .nen-vang{height: 140px;width: 140px;border-radius: 50%;position: relative;background-color: #F5F403;}
#trangchu .vongtron-vang{background-color:#F5F403;height: 120px;width: 120px;border: 10px solid #fff; border-radius: 50%;position: absolute;top:7%;left: 7%;}
#trangchu .vongtron-xanhla{background-color:#18B80B;height: 120px;width: 120px;border: 10px solid #fff; border-radius: 50%;position: absolute;top:7%;left: 7%;}
#trangchu .vongtron-vang{background-color:#F5F403;height: 120px;width: 120px;border: 10px solid #fff; border-radius: 50%;position: absolute;top:7%;left: 7%;}
#trangchu .vongtron-xanhduong{background-color:#068CE1;height: 120px;width: 120px;border: 10px solid #fff; border-radius: 50%;position: absolute;top:7%;left: 7%;}
#trangchu .img-item{position: absolute;top:25%;left: 28%;}
#trangchu .img-item:hover{animation: dh-img_item 1s 1;}
#trangchu .tieude{position: absolute;top: 100%;width: 140px;text-align: center;}
#trangchu .duongke{border-bottom: 3px solid #ccc;top: -40px;}
#trangchu .img-vuongniem{width: 100%;position: relative;padding-left: 10px;}
#trangchu .nd{position: absolute;margin-top: -55px; margin-left: 40px;}
#trangchu a{color: #828282;}
#trangchu a:hover{color: #77B748}

.giadauvang{border: 3px solid #ccc; border-radius: 10px;height: 450px}
.gachchan{border-bottom:2px solid #ccc; margin-top: 30px}
.img-xephang{padding-left:30%}
.nd-xephang .nd{font-size:24px; text-align:center}

.banbe{border: 3px solid #ccc; border-radius: 10px;height: 300px; margin-top: 40px;}
.banbe .row{border-bottom:2px solid #ccc;margin:20px 0}
.btn-banbe ,.btn1, .btn2, .btn3{
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 10px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.banbe .btn-banbe .btn1{width: 300px;border:2px solid #ccc;margin-bottom: 20px;}
.banbe .btn-banbe .btn2{width: 145px;border:2px solid #ccc;margin-right: 10px;}
.banbe .btn-banbe .btn3{width: 145px;border:2px solid #ccc;}

footer .kechan{border-top: 3px solid #ccc;}
footer a{color: #828282}
footer a:hover{color: #77B748;text-decoration: none;}
footer h6{font-size: 15px;}
/* -----------------------------------THẢO LUẬN------------------------------- */
/* --------------------------------------------------------------------------- */
#thaoluan h2{font-weight: bold}
#thaoluan .btn{outline: none;box-shadow: 3px 3px 3px #77B748;border: none;padding: 10px;border-radius: 20px;font-weight: bold;}
#thaoluan .img-thaoluan{width: 90px;width:90px;border-radius: 50%;}
#thaoluan a{color:#495057; font-weight:bold}
#thaoluan a:hover{text-decoration: none;color: #77B748;}
#thaoluan .tab-content .row{border-bottom: 2px solid #ccc; margin-top: 10px;}
#thaoluan .form-control{border-radius: 15px;font-size: 16px;height: 60px;}

#thaoluan .theodoi{border:1px solid #ccc;height: 300px;padding: 10px;border-radius: 10px;}
#thaoluan .nd-theodoi{height: 60px;border-radius: 10px;;font-size: 20px;padding: 15px;}
#thaoluan .nd-theodoi:hover{background-color: #ccc}
/* -----------------------------CHI TIẾT THẢO LUẬN---------------------------- */
/* --------------------------------------------------------------------------- */
#chitietthaoluan p{font-size: 16px;}
#chitietthaoluan .btn{outline: none;box-shadow: 3px 3px 3px #77B748;border: none;padding: 20px;border-radius: 20px;font-weight: bold;color: #77B748;font-size: 20px;}
#chitietthaoluan .kechan{border-bottom: 3px solid #ccc;}
#chitietthaoluan a{font-size: 20px;font-weight: bold;text-decoration: none;color: #77B748;}
#chitietthaoluan .diendan a{font-size: 20px;font-weight: bold;text-decoration: none;color: #77B748;}
#chitietthaoluan .diendan i{font-size: 20px;font-weight: bold;}
#chitietthaoluan .img-chitietthaoluan{border-radius: 50%}
#chitietthaoluan .nd-img{padding: 0;}
#chitietthaoluan .chude-binhluan .baocao{float:  right}
#chitietthaoluan .chude-binhluan .baocao a{font-size: 20px; font-weight: bold; color: #828282}
#chitietthaoluan .chude-binhluan .baocao a:hover{text-decoration: none;color: #77B748;}
#chitietthaoluan textarea{border: 3px solid #ccc;font-size: 16px;padding: 10px;border-radius: 10px;outline: none;}
#chitietthaoluan .binhluan .btn{outline: none;box-shadow: 3px 3px 3px #77B748;border: none;padding: 10px;border-radius: 10px;font-weight: bold;color: #fff;font-size: 20px;}
#chitietthaoluan .sub-sapxep .dropdown-item{width: 280px;padding: 10px;border-bottom: 2px dotted #ccc;font-weight: bold}
#chitietthaoluan .sub-sapxep .dropdown-item:active{background-color: #77B748;color: #fff;}
#chitietthaoluan .nav-item a{color: #828282;font-weight: bold;font-size: 20px}
#chitietthaoluan li{list-style: none;}
#chitietthaoluan .sapxep{padding-left: 150px;margin:0;}
#chitietthaoluan .phanhoi-binhluan .baocao{margin-left:100px}
#chitietthaoluan .phanhoi-binhluan a{font-size:20px;font-weight: bold;text-decoration: none;color: #828282;}
#chitietthaoluan .phanhoi-binhluan a:hover{color: #77B748;}
#chitietthaoluan .phanhoi-binhluan .kechan{border-bottom: 2px solid #ccc;margin:20px 0;}

/* -----------------------------------CỬA HÀNG------------------------------- */
/* -------------------------------------------------------------------------- */
#cuahang .duolingoPlus{height: 250px;background-color: #1cb0f6;border-radius: 10px;}
#cuahang .duolingo{float: left;width: 160px;padding: 20px 10px 10px 10px;color: #fff;}
#cuahang .plus{width: 80px;background-color: #068CE1;color: #fff;text-align: center;border-radius: 5px; float: left;margin-top: 25px;}
#cuahang .nd-duolingo{padding: 5px 10px;color: #fff;font-size: 16px;}
#cuahang .btn{margin-left: 10px;color: #1cb0f6;font-weight: bold;border-radius: 10px;box-shadow: 3px 3px 3px #eee}
#cuahang .kechan{border-top: 3px solid #ccc;margin: 30px 0;}
#cuahang .tangsucmanh p{font-size: 16px;}
#cuahang .tangsucmanh .btn{font-size: 18px;padding: 10px; border: 3px solid #ccc;color: red;font-weight: bold;border-radius: 15px;box-shadow: 3px 3px 3px #eee;}
#cuahang .luyentap p{font-size: 16px;}
#cuahang .luyentap .btn{font-size: 18px;padding: 10px; border: 3px solid #ccc;color: red;font-weight: bold;border-radius: 15px;box-shadow: 3px 3px 3px #eee;}
#cuahang .lingot{font-size: 20px;}
#cuahang .img-duolingo{float: right;margin-top: 100px;margin-right: 10px;}

/* -----------------------------------TỪ ĐIỂN------------------------------- */
/* -------------------------------------------------------------------------- */
#tudien{margin-top: 200px; margin-bottom: 200px;}
#tudien p{font-size: 20px;}
#tudien .form-control{height: 80px;border-radius: 20px;font-size: 20px;}

form .inner-form {background: #fff;display: flex;width: 100%;align-items: center;box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);border-radius: 3px;}
form .inner-form .input-field.first-wrap {width: 80px;margin-left: 10px;}
form .inner-form .input-field {height: 80px;padding-top: 8px}
form .inner-form .input-field input {height:100%;display: block;width: 460px;padding: 10px 32px;font-size: 20px;color: #555;margin-right: 20px;border: 0;outline: none;}
form .inner-form .input-field.third-wrap .btn {padding:15px 12px;font-size: 20px;font-weight: bold; border-radius: 10px;box-shadow: 3px 3px 3px #77B748;border: 0;}

/* -----------------------------------TỪ VỰNG------------------------------- */
/* -------------------------------------------------------------------------- */
#tuvung table{font-size: 16px;}
#tuvung table a{color: #828282;}
#tuvung table a:hover{text-decoration: none;}


/* ------------------------------HỌC QUA HÌNH ẢNH--------------------------- */
/* ------------------------------------------------------------------------- */
#hoc-hinhanh .card-hoc{width: 200px;height: 250px;border: 2px solid #ccc;border-radius: 10px;}
#hoc-hinhanh .card-hoc:active{background-color: #77B748;}
#hoc-hinhanh .card-hoc .img-hoc{padding-left: 37px;padding-top: 40px;}
#hoc-hinhanh .kechan{border-bottom: 2px solid #ccc; padding-bottom: 60px;}
#hoc-hinhanh .btn{border-radius: 10px;box-shadow: 3px 3px 3px #77B748;border: 0;font-weight: bold;font-size: 18px;padding: 5px 15px;}

/* ---------------------------------HỌC 2------------------------------------ */
/* -------------------------------------------------------------------------- */
#hoc2 .dapan{border: 1px solid #ccc; width: 300px; height: 50px;margin-bottom: 20px;}
#hoc2 .kechan{border-bottom: 2px solid #ccc; padding-bottom: 60px;}
#hoc2 .dapan:active{background-color: #77B748;}
#hoc2 .dapan:hover{background-color: #77B748;}
#hoc2 .dapan p:active{color: #fff;}
#hoc2 .dapan p:hover{color: #fff;}
#hoc2 .dapan p{font-size: 16px;padding: 10px;}
#hoc2 .btn{border-radius: 10px;box-shadow: 3px 3px 3px #77B748;border: 0;font-weight: bold;font-size: 18px;padding: 5px 15px;}

/* ---------------------------------Cài đặt---------------------------------- */
/* -------------------------------------------------------------------------- */
#caidat .btn{border: none;border-radius: 10px;font-size: 18px;font-weight: bold;padding: 10px;}
#caidat form .nd{margin-left: 20px;margin-top: 50px;}
#caidat span{font-size: 16px;font-weight: bold;}
#caidat input{width: 460px;height: 50px;font-size: 16px;border-radius: 10px;border: 2px solid #ccc;outline: none;padding: 0 10px;}
#caidat .caidat-taikhoan{height: 400px;border: 2px solid #ccc;border-radius: 10px;}
#caidat .caidat-taikhoan a{color: #828282; font-weight:bold;}
#caidat .caidat-taikhoan a:hover{color: #4f4f4f;text-decoration: none;}
.chucnang .bg-active{background-color: #ccc;}
.chucnang .text-active{color: #4f4f4f!important}
.chucnang .nd-chucnang{height: 60px;border-radius: 10px;;font-size: 20px;padding: 15px;margin: 5px 20px;}
.chucnang .nd-chucnang:hover{background-color: #ccc}
#caidat .caidat-matkhau{height: 400px;border: 2px solid #ccc;border-radius: 10px;}
#caidat .caidat-matkhau a{color: #828282; font-weight:bold;}
#caidat .caidat-matkhau a:hover{color: #4f4f4f;text-decoration: none;}


/* -------------------------------Landing Page--------------------------------- */
/* ---------------------------------------------------------------------------- */
#duolingo{background:url(./../image/bg.jpg);background-size: cover;height: 100vh}
#duolingo ul .ring-1 {position: absolute;top:90px;left:110px;width: 400px;height: 400px;border: 1px solid rgba(33, 150, 243, 0.5);border-radius: 50%;animation: rotate360 210s linear infinite}
#duolingo ul.ring-2 {position: absolute;top:145px;left: 155px;width: 300px;height: 300px;border: 1px solid rgba(33, 150, 243, 0.5);border-radius: 50%; animation: rotate360 180s linear infinite;z-index: 1;}
#duolingo ul.ring-3 {position: absolute;top:200px;left: 210px;width: 200px;height: 200px;border: 1px solid rgba(33, 150, 243, 0.5);border-radius: 50%;}
#duolingo .orbit-center {position: relative;top: 230px;left: 220px;z-index: 5;font-size: 30px;width: 160px;height: 90px;text-align: center;border-radius: 50%;}
#duolingo .orbit-icon1 {position: absolute;width: 100px;top: 10px;height: 70px;border-radius: 50%;z-index: 99;}
#duolingo .orbit-icon2 {position: absolute;width: 100px;top: 150px;left:-30px;height: 70px;border-radius: 50%;z-index: 99;}
#duolingo .orbit-icon3 {position: absolute;width: 120px;top: 300px;left:260px;height: 70px;border-radius: 50%;z-index: 99;}
#duolingo .orbit-icon4 {position: absolute;width: 100px;top: -10px;left:190px;height: 70px;border-radius: 50%;z-index: 99;}
#duolingo li {list-style: none;}
#duolingo .nd{top: 130px;right: 100px;}
#duolingo .btn{box-shadow: 1px 3px 1px #48871B;outline: none;border: 0;width: 350px;height: 50px;font-size: 24px;font-weight: bold;border-radius: 30px;}

#nd-duolingo .cachhoc p{font-size: 16px;}
#nd-duolingo .kechan{border-bottom: 2px solid #ccc;}

#footer-duolingo{background:url(./../image/bg.jpg);background-size: cover;height: 50vh}
#footer-duolingo .btn{box-shadow: 1px 3px 1px #48871B;outline: none;border: 0;width: 200px;height: 50px;font-size: 24px;font-weight: bold;border-radius: 30px;}

#conference-timeline {position: relative;width: 100%;margin: 0 auto; }
#conference-timeline .timeline-start,#conference-timeline .timeline-end {display: table;font-size: 18px;font-weight: 900;text-transform: uppercase;background: #77B748;padding: 15px 23px;color: #fff;max-width: 15%;width: 100%;text-align: center;margin: 0 auto;}
#conference-timeline .conference-center-line {position: absolute; width: 3px;height: 100%;top: 0;left: 50%;margin-left: -2px;background: #77B748;z-index: -1;}
#conference-timeline .conference-timeline-content {padding-top: 67px;padding-bottom: 67px;}
.timeline-article {width: 100%;height: 100%;position: relative;overflow: hidden;margin: 20px 0;}
.timeline-article .content-left-container,
.timeline-article .content-right-container {max-width: 44%;width: 100%;}
.timeline-article .content-left,
.timeline-article .content-right {position: relative;width: auto;border: 1px solid #77B748;background-color: #fff;box-shadow: 0 1px 3px rgba(0,0,0,.03);padding: 27px 25px;}
.timeline-article p {margin: 0 0 0 60px;padding: 0; font-weight: 400;color: #242424;font-size: 14px;line-height: 24px;position: relative;}
.timeline-article p span.article-number {position: absolute;font-weight: 300;font-size: 44px;top: 10px;left: -60px;color: #77B748;}
.timeline-article .content-left-container {float: left;}
.timeline-article .content-right-container {float: right;}
.timeline-article .content-left:before,
.timeline-article .content-right:before{position: absolute;top: 20px;font-size: 23px;font-family: "FontAwesome";color: #fff;}
.timeline-article .meta-date {position: absolute;top: 0;left: 50%;width: 62px;height: 62px;margin-left: -31px;color: #fff;border-radius: 100%;background: #77B748;}

      @media only screen and (max-width: 768px) {
        #conference-timeline .timeline-start,
        #conference-timeline .timeline-end {
          margin: 0;
        }
        #conference-timeline .conference-center-line {
          margin-left: 0;
          left: 50px;
        }
        .timeline-article .meta-date {
          margin-left: 0;
          left: 20px;
        }
        .timeline-article .content-left-container,
        .timeline-article .content-right-container {
          max-width: 100%;
          width: auto;
          float: none;
          margin-left: 110px;
          min-height: 53px;
        }
        .timeline-article .content-left-container {
          margin-bottom: 20px;
        }
        .timeline-article .content-left,
        .timeline-article .content-right {
          padding: 10px 25px;
          min-height: 65px;
        }
      }
      @media only screen and (max-width: 480px) {
        .timeline-article p {
          margin: 0;
        }
        .timeline-article p span.article-number {
          display: none;
        }
        
      }

/* ---------------------Nạp tiền---------------------- */
/* --------------------------------------------------- */
#thanhtoan .col-8{display: inherit;}
#thanhtoan input{height:100%;display: block;width: 300px;padding: 10px;font-size: 16px;color: #555;margin-right: 10px;outline: none;border: 2px solid #ccc; border-radius: 5px;}
#thanhtoan input:focus{border: 2px solid #ccc!important;}
#thanhtoan .btn{padding: 10px;outline: none!important;border: none;}
#thanhtoan .dropdown-item{width: 190px;padding: 10px;}
#thanhtoan .nd{height: 300px;border: 1px solid #77B748;}

/* ---------------------------------FLASH CARD------------------------------ */
/* ------------------------------------------------------------------------- */
#flashcard .bg-flashcard{
  background-image: linear-gradient(45deg, rgba(38, 79, 121, 0.7) 55%, rgba(30,66,88,0.7)), url("/image/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  /* view height */
  background-attachment: fixed;
}
#flashcard .bg-flashcard{ height: 500px;position: relative}
#flashcard .bg-flashcard .fa-caret-up{position: absolute;font-size: 80px;color: #fff;left: 47%;}
#flashcard .bg-flashcard .fa-caret-down{position: absolute; top: 430px;font-size: 80px;color: #fff;left: 47%;}
#flashcard .flip-container {perspective: 1000;float: left;cursor:pointer;position: absolute;top: 150px;left: 170px;}
#flashcard .flippable {transition: 0.5s;transform-style: preserve-3d;position: relative;}
#flashcard .flipme {transform: rotateY(180deg);}
#flashcard .flip-container, .front, .back {width: 500px;height: 200px;text-align: center;font-size: 40px;border-radius: 5px;}
      
#flashcard .front, .back {backface-visibility: hidden;position: absolute;box-shadow: 8px 8px 8px rgba(5, 45, 70, 0.9)}
      
      
#flashcard .front { z-index: 2;color: white;}
#flashcard .front h2{margin-top: 40px;}
#flashcard .front p{font-size: 16px;}
#flashcard .back {transform: rotateY(180deg);background-color: #fff;}
#flashcard .back p{font-size: 24px;margin-top: 80px;}
      
#flashcard .flashcard .front{background:#fff;}

#flashcard ol{ height:500px;overflow-x:hidden; overflow-y:auto;background-color: #77B748;}
#flashcard li{font-weight: bold;}
#flashcard li:hover{background-color: #48871B}
#flashcard a{text-decoration: none; color: #eee;font-size: 16px; padding-left: 20px;font-weight: bold;}
#flashcard .img-100{width: 100%;}

